*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: blueviolet;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo{
  color: white;
}
.nav-links{
  display: flex;
  gap: 15px;
  
}
.nav-links a{
  color: white;
  text-decoration: none;
}
.nav-links a:hover{
  color: black;
}
.content{
  margin-top: 100px;
}

